POSTGRES_USER=geohod
POSTGRES_PASSWORD=secret
POSTGRES_DB=geohod

SPRING_DATASOURCE_URL=jdbc:postgresql://geohod-postgres-dev:5432/geohod
SPRING_DATASOURCE_USERNAME=geohod
SPRING_DATASOURCE_PASSWORD=secret

SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=

GEOHOD_TELEGRAM_BOT_TOKEN=token
GEOHOD_TELEGRAM_BOT_USERNAME=username
TELEGRAM_OIDC_CLIENT_ID=oidc
TELEGRAM_OIDC_CLIENT_SECRET=secret
GEOHOD_CREATED_EVENT_LINK_TEMPLATE=https://t.me/{botName}/app?startapp=registration_{eventId}
GEOHOD_REVIEW_LINK_TEMPLATE=https://t.me/{botName}/app?startapp=review_{eventId}
GEOHOD_CORS_ALLOWED_ORIGINS=https://app.dev.geohod.ru,http://localhost:3000,http://127.0.0.1:3000

JWT_SECRET=jwt_secret