[Unit]
Description=Geohod Backend Production Pod
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=/usr/bin/podman pod create \
  --name geohod-prod-pod \
  --network geohod-prod-network \
  --hostname geohod-prod \
  --publish 8080:8080

ExecStop=/usr/bin/podman pod rm -f geohod-prod-pod

[Install]
WantedBy=multi-user.target